@model CUAHANG.Models.Entities.PRODUCT

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/webstore.cshtml";
}

<h2>Create Product</h2>


<form  method="post" action="/Store/Create" enctype="multipart/form-data" >
    <div class="form-horizontal">
        <h4>Thêm sản phẩm</h4>
        <hr />


        <div class="form-group">
            <input type="file" id="uploadImage" name="uploadImage" accept="image/*" />
        </div>


        <div class="form-group">

            <div class="control-label col-md-2">
                Mã thể loại
            </div>

            <div class="col-md-10">
                <input name="idTL" value="" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Tên sản phẩm
            </div>
            <div class="col-md-10">
                <input name="TenSP" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                Mô Tả
            </div>
            <div class="col-md-10">
                <input name="MoTa" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                Giá Tiền
            </div>
            <div class="col-md-10">
                <input name="GiaTien" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                Số Lượng
            </div>
            <div class="col-md-10">
                <input name="SoLuong" value="" class="form-control" />
            </div>
        </div>

        
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default btn-outline-success">
                    Lưu thay đổi
                </button>
            </div>
        
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Products")
</div>
